<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
       <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">HOME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/registration">Registration</a>
                    <a class="nav-item nav-link " href="/">Login</a>

                    
                  </div>
                </div>
              </nav>




              <div class="jumbotron">
                    <div class="p-3 mb-2 bg-secondary text-white">
                  
                    <h1 class="display-4">Welcome to KMS- Kudumbasree Management System</h1>
                    <p class="lead">Empowering women of kerala in digital age</p>
                    <hr class="my-4">
                    <p>Login to your KMS account</p>
                    
                    
                    <form >
                        
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="lemail">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="lpass">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name=lrem>
    <label class="form-check-label">Remember me</label>
  </div>
  
  <button type="submit" class="btn btn-success">Login</button>  

       </form>             
  <form action="registration">
<small  class="form-text text-white" >Do not have account?</small><input type="submit" class="btn btn-primary" value="Register">
</form>



       </div>  
              </div>         
                  



    
    
</body>
</html>