<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTRATION</title>
       <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">HOME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/registration">Registration</a>
                    <a class="nav-item nav-link " href="/">Login</a>

                    
                  </div>
                </div>
              </nav>













<div class="jumbotron">
        <div class="p-3 mb-2 bg-success text-white">
        <form>
            <h3>Please fill out the form to register in KMS</h3>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="remail">
                  </div>

                  <div class="form-group col-md-6">
                        <label for="user">Username</label>
                        <input type="email" class="form-control"  placeholder="Username" name="ruser">
                      </div>


                      <div class="form-group col-md-6">
                            <label for="Phone">Mobile</label>
                            <input type="password" class="form-control"  placeholder="Password" name="rmob">
                          </div>
        
                          <div class="form-group col-md-6">
                                <label for="dob">D.o.B</label>
                                <input type="date" class="form-control"  placeholder="Date of Birth" name="rdob">
                              </div>











                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control"  placeholder="Password" name="rpass">
                  </div>

                  <div class="form-group col-md-6">
                        <label for="inputPassword4">Confirm Password</label>
                        <input type="password" class="form-control"  placeholder="Confirm Password" name="rpass">
                      </div>



                </div>


                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <textarea class="form-control" placeholder="Address" rows="3" name="raddress"></textarea>
                </div>
                
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Kudumbasree unit</label>
                    <input type="text" class="form-control" name="runit">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>Thrivanthapuram</option>
                      <option>kollam</option>
                      <option>Pathamanthitta</option>
                      <option>Kottayam</option>
                      <option>Alappuzha</option>
                      <option>Idukki</option>
                      <option>Ernakulam</option>
                      <option>Thrissur</option>
                      <option>Malappuram</option>
                      <option>Palakkad</option>
                      <option>wayanad</option>
                      <option>kozhikode</option>
                      <option>kannur</option>
                      <option>Kasargod</option>

                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Pin code</label>
                    <input type="text" class="form-control" placeholder="six digit PIN code" name="rpin">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="rrem">
                    <label class="form-check-label" >
                      Remember me
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
              <div>
              </div>







</body>
</html>